:root {
    --primary-color: #fefefe;
    --btn-color: #56e39fcb;
    --btn-hover: #56E39F;

    --hover-2: #CBEF43;
    --gray: #5E6973;
    --gray-hover: #4d5964;
    --complete: #9B8FB9;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background-image: linear-gradient(0.4turn,#D8B5FF,#1EAE98);
}

h2 {
    color: var(--primary-color);
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;  
    width: 350px;
    min-height: 350px;
    padding: 10px;
}

form {
    width: 100%;
    margin: 1rem 0;
    display: flex;
}
form button {
    background: 0;
    border: 0;
    padding: 0;
    color: var(--btn-color);
    font-size: 1.2rem;
    font-weight: bold;
}

form button:hover {
    cursor: pointer;
    color: var(--hover-2);
    transform: scale(1.2);
}

input[type=text] {
    width: 100%;
    border: 0;
    border-bottom: 2px solid lightgrey;
    font-size: 1rem;
    background-color: transparent;
    color: var(--primary-color);
}

input[type=text]:focus {
    /* border-bottom: 2px solid rgba(255, 160, 122, 0.685); */
    border-bottom: 2px solid #5c5d9d;
    /* border-bottom: 2px solid var(--hover-2); */
    outline: 0;
}

.todo,
.done-todo {
    width: 100%;
    /* border: 1px solid #000; */
    padding: 1rem;
}

.done-todo {
    margin-top: 1rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: .2rem;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray);
}

li span {
    width: 90%;
}

/* li a {
    color: rgb(114, 7, 7);
    font-weight: 600;
    font-size: 1.3rem;
    padding: 0;
}

li a:hover {
    color: rgb(172, 11, 11);
    cursor: pointer;
} */

li .editBtn {
    /* border: 1px solid #000; */
    font-size: 1.1rem;
    color: var(--btn-color);
}

li .editBtn:hover {
    cursor: pointer;
    color: var(--hover-2);
    transform: scale(1.1);
}

li .deleteIcon {
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
    height: 100%;
    color: var(--gray);
}

li .deleteIcon:hover {
    cursor: pointer;
    color: var(--gray-hover);
    transform: scale(1.1);
}

/* when todo is completed, put a line-through */
.complete {
    color: var(--gray);
    text-decoration: line-through wavy var(--complete);
    text-decoration-thickness: 2px;
}

dialog {
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    width: 300px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

dialog p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray);
}


#editInput {
    color: var(--gray-hover);
}

span .material-icons .deleteIcon {
    pointer-events: none;
}