body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000011;
}
.container {
    width: auto;
    height: auto;
    padding: 5px;
    background-color: #B2D3A8;
    border-radius: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
}

form label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #498467;
}

form label input {
    width: 280px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    padding: 3px;
    background-color: transparent;
    border-bottom: 2px solid #592941;
}

button {
    width: 90%;
    background-color: #498467 ;
    padding: 5px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    color: #fefefee0;    
}

button:hover {
    background-color: #52b788;
    cursor: pointer;
    transition: 0.2s ease-in;
}